<html>
  <head>
    <title>Pokedex</title>
    <link rel="stylesheet" href="/css/pokestyle.css">
  </head>
  <body>
    <h1>Pokedex</h1>
    <nav class = "profile">
      <a href="/pokemons">Pokemons</a>
      <a href="/trainers">Trainers</a>
    </nav>
    <%= yield %>
  </body>
</html>
